@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-active: hsl(162, 73%, 46%);

  --clr-grey-9: hsl(209, 61%, 16%);
  --clr-white: #fff;
  --clr-panelColor: #ffe66d;
  --clr-black: #222;
  --clr-pink: #f28ab2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: var(--clr-pink);
  line-height: 1.5;
  color: var(--clr-grey-9);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  color: var(--clr-grey-9);
}

.App {
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 30rem;
}

/* .wrap {
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 30rem;
} */

.formData {
  border: 2px solid #dddddd;
  min-height: 150px;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
}

.formData .inpfile {
  margin-bottom: 1em;
}

.formData input {
  cursor: pointer;
}

.formData .submitBtn {
  padding: 0.6em;
  background: var(--clr-active);
  border: 0;
  width: 7em;
  border-radius: 4px;
  cursor: pointer;
}

.formData .btn {
  text-align: end;
}

.btn button {
  padding: 2px;
}

.inpfile {
  display: flex;
  flex-direction: column;
}

.board {
  margin-top: 2em;
}

ul {
  list-style: none;
}

ul > li .grid {
  color: var(--clr-black);
  display: flex;
  justify-content: space-between;
  gap: 0.8em;
  align-items: center;
  margin-top: 1em;
  background-color: var(--clr-active);
  padding: 0.8em 2em;
  border-radius: 10px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.3);
}

ul > li .grid img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
}

.tag {
  margin: 1rem 0;
  text-align: center;
}

.icons {
  color: red;
  cursor: pointer;
}
